.titulo_lista {
  margin: 15px;
  background-color: rgb(209, 211, 212);
  padding: 10px;
  border-width: 3px;
  border-color: rgb(216, 216, 180);
}


body {
  font-family: 'Courier New', Courier, monospace;
}